{% extends 'base.html.twig' %}

{% block body %}

    <div class="col-md-12 first-div">
        <div class="col-xs-7 col-md-9"></div>
        <div class="col-xs-5 col-md-3">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                <p class="log-link"><i class="fa fa-user fa-lg"></i> Bienvenue {{ app.user.username }}</p>
            {% else %}
                <button id="myBtn" class="log-link"><i class="fa fa-user fa-lg"></i> Se connecter</button>
            {% endif %}

            <div id="myModal" class="modal">
              <!-- Modal content -->
              <div class="modal-content">
                <span class="close">x</span>
                <h4>Connexion</h4>
                <div class="col-md-12">
                    <form action="{{ path("user_login_check") }}" method="post">
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            <div class="row">
                                <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6">
                                    <label for="username">Pseudo</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                        <input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" required="required" placeholder="Username"/>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6">
                                    <label for="password">Mot de Passe</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                        <input class="form-control" type="password" id="password" name="_password" required="required" placeholder="Mot de passe">
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-offset-3 col-md-offset-3 col-lg-6 col-md-6">
                                    <div class="input-group">
                                        <span class="input-group-addon"><input type="checkbox" id="remember_me" name="_remember_me" value="on" /></span>
                                        <label class="remember-me form-group" for="remember_me">Se souvenir de Moi</label>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-lg-offset-6 col-md-offset-6 col-lg-3 col-md-3">
                                    <input class="login btn-primary btn-lg" type="submit" id="_submit" name="_submit" value="Connection" />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        // Get the modal
        var modal = document.getElementById('myModal');
        // Get the button that opens the modal
        var btn = document.getElementById("myBtn");
        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        // When the user clicks on the button, open the modal
        btn.onclick = function() {
            modal.style.display = "block";
        }
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>

    <div class="col-xs-12 col-md-12 marge-bottom">
        <div class="col-md-12 col-md-12 epreuves">
            <p class="title-chall">Prochaines épreuves</p>
        </div>
        <div class="col-xs-12 col-md-12 div-photo">
            {% for epreuve in epreuves %}
                <div class="col-xs-4 col-md-4 div-challenge-desc">
                    <div class="col-xs-12 col-md-12 div-photo">
                        <img class="epreuves-photo" src="{{ asset('uploads/epreuve/' ~ epreuve.image) }}" alt="challenge">
                        <div class="desc-chall">
                            <h5>{{ epreuve.nom }}</h5>
                            <p>{{ epreuve.description }}</p>
                            <a href="{{ path('epreuve', { 'idepreuve': epreuve.id }) }}"><img src="{{ asset('img/mor.png') }}" class="see-more"></a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-12 actus">
        <div class="col-md-1"></div>
        <div class="col-md-5 contain-video">
            <iframe width="630" height="355" src="https://www.youtube.com/embed/t4UqS3YvXtQ" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="col-md-4 contain-desc">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in tincidunt tellus. Ut iaculis orci at neque tempus, id scelerisque enim imperdiet. Cras eget tincidunt. 
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris in tincidunt tellus. Ut iaculis orci at neque tempus, id scelerisque enim imperdiet. Cras eget tincidunt. </p>
        </div>
    </div>

{% endblock %}